name: "SSH into instance"

on:
  workflow_dispatch:

jobs:
  ssh:
    runs-on: ubuntu-latest
    steps:
      - name: start ssh-agent
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.SSH_KEY }}

      - name: add host key
        run: ssh-keyscan -H -t rsa "${{ secrets.INSTANCE_HOST }}" >> ~/.ssh/known_hosts

      - name: ssh into server
        run: ssh "${{ secrets.INSTANCE_USER }}@${{ secrets.INSTANCE_HOST }}" "whoami"
